# .coveragerc to control coverage.py
# https://coverage.readthedocs.io/en/latest/config.html
[run]
branch = True
source = src/

[report]
ignore_errors = True
show_missing = True
skip_empty = True

[html]
directory = coverage_html_report
