# .coveragerc to control coverage.py
# https://coverage.readthedocs.io/en/latest/config.html
[run]
branch = True

[report]
ignore_errors = True
skip_empty = True
show_missing = True
skip_covered = True
sort = -cover

[html]
directory = coverage_html_report
